<%- include("partials/header") %>
<body>
  <div class="containercontact">
    <header>
      <%- include("partials/logo.ejs") %>
      <div class="header-right">
        <nav class="top-nav">
          <a href="home">< Back</a>
          <a href="aboutme"><i class="fas fa-user"></i> About me</a>
          <a href="https://www.weatherapi.com/"><i class="fas fa-code"></i> API</a>
        </nav>
        <label class="theme-switch">
          <input type="checkbox" id="theme-toggle">
          <span class="slider round">
            <span class="light-text">Light</span>
            <span class="dark-text">Dark</span>
          </span>
        </label>
      </div>
    </header>

    <main>
      <div class="contact-content">
        <h2>Contact Me</h2>
        <div class="contact-info">
          <p><i class="fas fa-envelope"></i> Email: </p>
        </div>

        <!-- ✅ Message container -->
        <div id="message-popup" class="hidden"></div>

        <form id="contactForm" action="/email" method="post">
          <input type="text" name="name" placeholder="Your Name" required>
          <input type="email" name="email" placeholder="Your Email" required>
          <textarea rows="5" name="message" placeholder="Your Message" autocomplete="off" required></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </main>

    <%- include('partials/footer') %>
  </div>


  <script src="style/style.js"></script>
</body>
</html>
